<div id="add-channel-modal" class="modal">
  <div class="modal-content">

    <form class="modal-body" action="/" method="POST">
        <div class="modalClose" id="add-page-close-btn">×</div>


      <input
        type="text"
        placeholder="タイトル（メーカーと商品名、型番など）"
        class="channel-form-input-title"
        name="channel-title"
      />
      <input
        type="text"
        placeholder="このチャンネルの説明を記入してください"
        class="channel-form-input-abstract"
        name="channel-description"
      />
      <button class="add-btn" id="add-channel-confirmation-btn">チャンネル登録</button>
    </form>
  </div>
</div>
