.channelpage {
  background-image: url("../img/syoutenmaku.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.split-container {
  background-image: url("../img/syoutenmaku.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;  /* Flexboxを有効にする */
  height: 100vh;  /* ビューポートの高さと同じにする */
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;

  padding-left: 9%;

}

.search-by-word {
  width: 82%;
  height: 50px;
  font-size: 14px;
  border-radius: 8px 0px 0px 8px;
  background-color: #ffffff;
  padding: 12px 12px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.split-item:first-child {
  box-sizing: border-box;  /* paddingやborderが全体の幅・高さに含まれるように設定 */
  flex-direction: column;
  flex: 3;  /* 全体の1/3を占めるように設定 */
  
}

.split-item:last-child {
  box-sizing: border-box;  /* paddingやborderが全体の幅・高さに含まれるように設定 */
  flex-direction: column;
  flex: 5;  /* 全体の2/3を占めるように設定 */
  background-image: url("../img/mekuri.png");
  background-size: cover;
  background-repeat:repeat;
  height: 100vh;
  padding-left: 10%;
  padding-right: 5%;
}

#search-by-word-btn {
  width: 58px;
  height: 50px;
  font-size: 12px;
  float: right;/*bms_sendに対して右寄せ*/
  color: #fff;
  font-weight: bold;
  background: #838383;
  text-align: center;/*文字をボタン中央に表示*/
  border: 1px solid black;
  border-radius: 0px 8px 8px 0px;/*角丸*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  margin-left: -1px;

}
#search-by-word-btn:hover {
background: #4393df; /*マウスポインタを当てた時にアクティブな色になる*/
cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}
.search-result-box-header{
  font-size: 16px;
  margin-top: 0;
}

.search-result-link{
  color: blue;
}
.search-result-link:hover{

  border-bottom: 1px solid blue;
}


.search-submit{
  flex-direction: row;
  display: flex;
}

.search-result-box {
  border-radius: 14px;
  padding: 10px;

  width: 95%;
  height: 300px;
  overflow: auto;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
  background-color: #eee;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;/*ヘッダーの下に影を入れる*/
  margin-top: 20px;
}



.bg-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 45%;
  background-image: url("../img/brick-wall.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;

  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(202, 172, 166, 1));
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.bg-img::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
}

.main-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-title {
  display: flex;
  gap: 24px;

}

.channel-title button {
  margin: 30px 0;
  background-color: var(--navy);
}

.channel-title button:hover {
  background-color: var(--carbon);
}

.add-channel-button{
  background-color: #ff8002;
  color: #000000;
  padding: 18px 20px;
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;

}
.channel-box {
  width: 100%;
  min-height: 50%;

  flex-direction: column;
  padding: 1rem;
  margin-left: 5%;
}

.channel-box li {
  list-style: none;
  margin-bottom: 5px;
  padding-bottom: 3px;
  padding-right: 16px;
  box-sizing:content-box;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.channel-box li:hover {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2px;
  cursor: pointer;
}

.channel-box li a {
  color: grey;
}

.channel-box li a:hover {
  color: var(--dark_pink);
}

.pagination-container,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container {
  width: 100%;

}

.pagination {
  padding-left: 0;
}

.pagination li.colored {
  background-color: var(--navy);
  color: var(--snow);
}

#prev,
#next,
.pagination li {
  padding: 16px;
}

#prev:hover,
#next:hover {
  cursor: pointer;
}

.prev:hover .next:hover {
  cursor: pointer;
  background-color: var(--navy);
  color: var(--snow);
}

@media screen and (max-width: 639px) {
  .main-content {
    width: 90vw;
  }
  .channel-title {
    flex-direction: column;
    gap: 0;
  }
  .channel-title h1 {
    text-align: center;
  }
  .channel-box {
    width: 100%;
  }
  .channel-box li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .main-content {
    width: 70vw;
  }
  .channel-title {
    flex-direction: column;
  }
  .channel-title h1 {
    text-align: center;
  }
  .channel-box {
    width: 80%;
  }
  .channel-box li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    width: 70vw;
  }
  .channel-title {
    flex-direction: row;
    justify-content: space-around;
  }
  .channel-box {
    width: 80%;
  }
}
