@charset "utf-8";
body{
  position: relative;
  background-image: url(../images/syoutenmaku.png);
  color: #333333;
  font-size: 16px;
  font-family: 'arial','Hiragino Sans','Meiryo',sans-serif;
  }
  form{
    text-align: center;
  }
div {
  margin-top: 250px;
  margin-bottom: 250px;
  }
h1{  
  color: #FFFFFF;
  text-align: center;
  border: 5px double #ffffff;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  background-color: black;
}
h2{
  color: gold;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}


.footer {
  text-align: center;
  color: #FFFFFF;
}